# Ignore the Go cache
/go

# Ignore the binary files
proposal_monitor

# Ignore the vendor directory (if you are not using vendoring)
vendor

# Ignore config example files and optional config files
config/example.config.yml

# Ignore other unnecessary files and directories
.git
.gitignore
Dockerfile
README.md
docker-compose.yml
**/*.md
**/*_test.go
